node_modules/
**/node_modules/

*.zip

.env
.env.*
!.env.example

**/.env
**/.env.*
!**/.env.example

dist/
**/dist/

build/
**/build/

coverage/

.vite/

.DS_Store
Thumbs.db

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.vscode/
.idea/

*.pem
*.key
*.crt

.aws/
credentials

tmp/
temp/
.cache/
__*